footer {
  padding: 30px;

  /* background-color: #f1f1f1; */


}
.navbar-brand {
  font-size: 30px;
  color: #000;
  font-weight: bold;

}

body {
  font-family: 'Titillium Web', sans-serif;
  /* width: 100%;
  text-align: right;*/
  }
.formulario{
  margin-bottom: 100px;
}
body #footer{
  height: "400px";
}

#imagefooter {
text-align: center;
width: "70%";
background-color: #f1f1f1;

}
