<form class="form" role="form" autocomplete="off"  th:object="${editForm}" th:action="${editMode} ?@{/editUser} :@{/editForm}" method="post">
	<input class="form-control" type=hidden th:field="${editForm.cantidad}" th:if="${editMode}">
	<input class="form-control" type=hidden th:field="${editForm.id}"  th:if="${editMode}">
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">CodProducto</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${editForm.name}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">CodProducto Error</div>
	
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Cantidad</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${editForm.cantidad}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}">Cantidad Error</div>
	
		</div>
	</div>
		<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Marca</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${editForm.name}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Marca Error</div>
	
		</div>
	</div>

		
	
	
	
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-secondary"  th:href="@{'/appForm/cancel'}">Cancelar</a>
			<input type="submit" class="btn btn-primary"
				th:value="${editMode}?'Actualizar Entidad':'Crear Producto'">
		</div>
	</div>
	<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error Message</div>
	<div class="alert alert-success text-center d-none" id="formSuccess" th:if="${editMode}" >Success Message</div>
</form>	