<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TZ - Administrar Productos</title>
<!--JQUERY-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

<!--  BOOTSTRAP -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>

<!-- Los iconos de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="../static/css/main.css"
	th:href="@{/css/main.css}">

	
</head>
<body>
<!-- 	//////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Cargamos el header del un archivo para no repetir el código -->	
		<div th:include="header.html" ></div>	
<!-- 	//////////////////////////////////////////////////////////////////////////////////////////////// -->
	<div class="container mt-5 formulario">
		<div class="row">
			<div class="col-md-6 mx-auto my-auto">
		<!-- lo que costo hacer el action con parametro.. -->
				<form class="card mt-4" th:action="@{/}+${action}" th:object="${prod}" method="post">
					<div class="card-header">
						<h4>Producto</h4>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="id">* id:</label> <input type="text" 	
								class="form-control" placeholder="id" th:field="*{id}" readonly>
					</div>
						<div class="form-group">
							<label for="CodProducto" >* CodProducto:</label> <input
								type="text" id="CodProducto" class="form-control"
								placeholder="CodProducto" th:classappend="${error} ?'CodProductoError':''"  th:field="*{codProducto}" required>
						</div>
						<div class="form-group">
							<label for="Marca">* Marca:</label> <input type="text" id="Marca"
								class="form-control" placeholder="Marca" th:field="*{marca}" required>
						</div>
						<div class="form-group">
							<label for="Precio">* Precio:</label> <input type="text"
								id="Precio" class="form-control" placeholder="Precio" th:field="*{precio}" required>
						</div>
						<div class="form-group">
							<label for="Genero">* Género:</label> <input type="text"
								id="Genero" class="form-control" placeholder="Genero" th:field="*{genero}" required>
						</div>
						<div class="form-group">
							<label for="Categoria">* Categoria:</label> <input type="text"
								id="Categoria" class="form-control" placeholder="Categoria" th:field="*{categoria}"
								required>
						</div>
						<div class="form-group">
							<label for="Descripcion">* Descripción:</label> <input
								type="text" id="Descripcion" class="form-control"
								placeholder="Descripcion" th:field="*{descripcion}" required>
						</div>

						<button class="btn btn-outline-secondary btn-block" th:text="${nombreBoton}">	</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<div th:include="footer.html"></div>

</body>
</html>