<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TZ - Administrar Productos</title>
<!--JQUERY-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

<!--  BOOTSTRAP -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>

<!-- Los iconos de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}">


<!-- DATA TABLE -->
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

<script type="text/javascript">
	$(document).ready(function() {
		//Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
		$('#userList').DataTable();
	});
</script>
</head>
<body>
<!-- 	//////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Cargamos el header del un archivo para no repetir el código -->	
		<div th:include="header.html" ></div>	
<!-- 	//////////////////////////////////////////////////////////////////////////////////////////////// -->
	<div class="container mt-5 formulario">
		<div class="row">
			<div class="col-md-6 mx-auto my-auto">
				<form class="card mt-4">
					<div class="card-header">
						<h4>Usuario</h4>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="id">* id:</label> <input type="text" id="id"
								class="form-control" placeholder="id" disable>
						</div>
						<div class="form-group">
							<label for="Nombre">* Nombre:</label> <input
								type="text" id="Nombre" class="form-control"
								placeholder="Nombre" required>
						</div>
						<div class="form-group">
							<label for="Apellido">* Apellido:</label> <input type="text" id="Apellido"
								class="form-control" placeholder="Apellido" required>
						</div>
						<div class="form-group">
							<label for="email">* email:</label> <input type="text"
								id="email" class="form-control" placeholder="email" required>
						</div>
						<div class="form-group">
							<label for="DNI">* DNI:</label> <input type="text"
								id="DNI" class="form-control" placeholder="DNI" required>
						</div>
						<div class="form-group">
							<label for="Contraseña">* Contraseña:</label> <input type="text"
								id="Contraseña" class="form-control" placeholder="Contraseña"
								required>
						</div>
						<div class="form-group">
							<label for="Direccion">* Dirección:</label> <input
								type="text" id="Direccion" class="form-control"
								placeholder="Direccion" required>
						</div>
											
															
						<button class="btn btn-outline-secondary btn-block">
							Agregar Producto</button>
					</div>
				</form>
			</div>
		</div>
	</div>


</body>
</html>